<%= @error_message if @error_message %>
<h2>Login to Finstagram</h2>
<header>
<h1> Login </h1>
</header>

<main>
    <form method="post" action= "/login">
    <label><bold>Username<bold></label>
    <input type="text" name="username" placeholder="Enter Username"> 
    <label> <b>Password <bold></label>
    <input type="text" name="avatar" placeholder="Enter your avatar URL">
    <br>
    <br>
    <button type="submit">Login</button>
    </form>
    </main>